@using RepoAutomation.Core.Models
@using RepoGovernance.Core.Models
@using RepoGovernance.Web.Models
@using System.Text.Json;
@model SummaryItemDetails
@{
    ViewData["Title"] = "Details Page";

    // Serialize the model to JSON
    string modelJson = Model.SummaryItem != null ? JsonSerializer.Serialize(Model.SummaryItem, new JsonSerializerOptions { WriteIndented = true }) : "{}";

}

<div>
    <div class="row">
        <div class="col-md-6">
            <h4><code>@Model.SummaryItem.Owner - @Model.SummaryItem.Repo</code></h4>
            @if (Model.SummaryItem.LastUpdated > DateTime.Now.AddDays(-7))
            {
                <span class="lastUpdatedText">@Model.SummaryItem.LastUpdated.ToString("dd-MMM-yyyy HH:mmtt")</span>
            }
            else
            {
                <span class="lastUpdatedRedText">@Model.SummaryItem.LastUpdated.ToString("dd-MMM-yyyy HH:mmtt")</span>
            }
            <br />
            @if (Model.SummaryItem.LastUpdatedMessage != null)
            {
                <span><textarea id="multiLineTextBox" name="multiLineTextBox" rows="5" style="width:100%">@Model.SummaryItem.LastUpdatedMessage</textarea></span>
            }

            <h5>Model JSON:</h5>
            <pre style="background-color: #f8f9fa; padding: 10px; border: 1px solid #ddd; border-radius: 5px;">
                @modelJson
            </pre>
            
@*             <b>Legend</b>: <i class="bi bi-heart-fill greenHeart" data-toggle="tooltip" data-placement="bottom" title="No recommendations"></i>=Repo is OK, no recommendations
            <i class="bi bi-heart-pulse redHeart" data-toggle="tooltip" data-placement="bottom" title="Recommendations for improvement"></i>=Recommendations for improvement
            <br />
            <div style="font-size:14px;">
                <a href="https://github.com/samsmithnz/RepoGovernance" target="_blank" style="font-size:12px">This project source code</a> &nbsp;
                <span class="badge bg-primary">Total repos: @Model.SummaryItems.Count</span> &nbsp;
                <span class="badge bg-primary">Total PRs: @Model.SummaryItems.Sum(x => x.PullRequests.Count)</span> &nbsp;
                <span class="badge bg-primary">Total issues: @Model.SummaryItems.Sum(x => x.TotalRecommendationCount)</span>
            </div> *@
        </div>
    </div>
     <div class="row">
        <div class="col-md-6">
            @if (Model.IsContributor)
            {
                <a href="@Url.Action("Index", "Home", new { isContributor = Model.IsContributor })">Go back to index</a>
            }
            else
            {
                <a href="@Url.Action("Index", "Home")">Go back to index</a>
            }
        </div>
    </div> 
 
</div>
