@using RepoGovernance.Core.Models
@model List<SummaryItem>
@{
    ViewData["Title"] = "Home Page";
}

@{
    string lastUpdated = "unknown";
    if (Model.Count > 0)
    {
        lastUpdated = Model[0].LastUpdated.ToString("d-MMM-yyyy h:mmtt");
    }
}

<div>
    <h4>For account https://github.com/samsmithnz (last updated @lastUpdated)</h4>
    <div>
        <table class="table">
            <tr>
                <th>Repository</th>
                <th>Actions</th>
                <th>Dependabot</th>
                <th>Branch policies</th>
                <th>Auto versioning</th>
                <th>Frameworks detected</th>
            </tr>
            @foreach (SummaryItem item in Model)
            {
                <tr>
                    <td>
                        <a href="https://github.com/samsmithnz/@item.Repo">@item.Repo</a>
                        @if (item.RepoSettings.visibility == "private")
                        {
                            <span>(private)</span>
                        }
                    </td>
                    @if (item.Actions.Count > 0)
                    {
                        <td>@item.Actions.Count</td>
                    }
                    else
                    {
                        string recommendation = "";
                        foreach (string itemRec in item.ActionRecommendations)
                        {
                            recommendation += itemRec + Environment.NewLine;
                        }
                        <td>
                            <b>None</b>
                            <i class="bi bi-heart-pulse" style="color: red; height: 16px; width: 16px;" data-toggle="tooltip" title="@recommendation"></i>
                        </td>
                    }
                    @if (item.Dependabot.Count > 0)
                    {
                        <td>Enabled</td>
                    }
                    else
                    {
                        string recommendation = "";
                        foreach (string itemRec in item.DependabotRecommendations)
                        {
                            recommendation += itemRec + Environment.NewLine;
                        }
                        <td>
                            <b>None</b>
                            <i class="bi bi-heart-pulse" style="color: red; height: 16px; width: 16px;" data-toggle="tooltip" title="@recommendation"></i>
                        </td>
                    }
                    @if (item.BranchPolicies != null)
                    {
                        <td>Enabled</td>
                    }
                    else
                    {
                        string recommendation = "";
                        foreach (string itemRec in item.BranchPoliciesRecommendations)
                        {
                            recommendation += itemRec + Environment.NewLine;
                        }
                        <td>
                            <b>None</b>
                            <i class="bi bi-heart-pulse" style="color: red; height: 16px; width: 16px;" data-toggle="tooltip" title="@recommendation"></i>
                        </td>
                    }
                    @if (item.GitVersion.Count > 0)
                    {
                        <td>Enabled</td>
                    }
                    else
                    {
                        string recommendation = "";
                        foreach (string itemRec in item.GitVersionRecommendations)
                        {
                            recommendation += itemRec + Environment.NewLine;
                        }
                        <td>
                            <b>None</b>
                            <i class="bi bi-heart-pulse" style="color: red; height: 16px; width: 16px;" data-toggle="tooltip" title="@recommendation"></i>
                        </td>
                    }
                    <td>
                        @foreach (string badge in item.DotNetFrameworks)
                        {
                            <span class="badge bg-primary">@badge</span>
                        }
                    </td>
                </tr>
            }
            @*<tr>
                <td><a href="https://github.com/samsmithnz/ASCII-DAG">ASCII-DAG</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td>
                <span class="badge bg-primary">.NET 6</span>
                </td>
                </tr>
                <tr>
                <td><a href="https://github.com/samsmithnz/AzurePipelinesToGitHubActionsConverter">AzurePipelinesToGitHubActionsConverter</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td><b>No</b></td>
                <td>
                <span class="badge bg-primary">.NET 6</span>
                <span class="badge bg-primary">.NET Standard 2.0</span>
                </td>
                </tr>
                <tr>
                <td><a href="https://github.com/samsmithnz/Battle">Battle</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>
                <span class="badge bg-primary">.NET 6</span>
                <span class="badge bg-primary">.NET Standard 2.0</span>
                </td>
                </tr>
                <tr>
                <td><a href="https://github.com/samsmithnz/DevOpsMetrics">DevOpsMetrics</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td><b>No</b></td>
                <td>
                <span class="badge bg-primary">.NET 6</span>
                </td>
                </tr>
                <tr>
                <td><a href="https://github.com/samsmithnz/FictionBook">FictionBook</a> (private)</td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td>
                <span class="badge bg-secondary">Unknown</span>
                </td>
                </tr>
                <tr>
                <td><a href="https://github.com/samsmithnz/GitHubActionsDotNet">GitHubActionsDotNet</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>
                <span class="badge bg-primary">.NET 6</span>
                <span class="badge bg-primary">.NET Standard 2.0</span>
                </td>
                </tr>
                <tr>
                <td><a href="https://github.com/samsmithnz/OpinionatedSoftwareAdvice">OpinionatedSoftwareAdvice</a></td>
                <td>Yes</td>
                <td><b>No</b></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>
                <span class="badge bg-secondary">Unknown</span>
                </td>
                </tr>
                <tr>
                <td><a href="https://github.com/samsmithnz/NewHouse">NewHouse</a> (private)</td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td>
                <span class="badge bg-secondary">Unknown</span>
                </td>
                </tr>
                <tr>
                <td><a href="https://github.com/samsmithnz/ProjectIdeas">ProjectIdeas</a> (private)</td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td>
                <span class="badge bg-danger">.NET Framework 1.1</span>
                <span class="badge bg-warning">.NET Core 3.1</span>
                </td>
                </tr>
                <tr>
                <td><a href="https://github.com/samsmithnz/repoautomation">RepoAutomation</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>
                <span class="badge bg-primary">.NET 6</span>
                </td>
                </tr>
                <tr>
                <td><a href="https://github.com/samsmithnz/samsfeatureflags">SamsFeatureFlags</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>
                <span class="badge bg-primary">.NET 6</span>
                </td>
                </tr>
                <tr>
                <td><a href="https://github.com/samsmithnz/tbs">TBS</a> (private)</td>
                <td>Yes</td>
                <td><b>No</b></td>
                <td>Yes</td>
                <td><b>No</b></td>
                <td>
                <span class="badge bg-primary">.NET Standard 2.0</span>
                <span class="badge bg-primary">.NET 6</span>
                </td>
                </tr>
                <tr>
                <td><a href="https://github.com/samsmithnz/TechDebtIdentification">Technical Debt Identification</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>
                <span class="badge bg-primary">.NET 6</span>
                </td>
                </tr>*@
        </table>
    </div>
</div>
