@using RepoAutomation.Core.Models
@using RepoGovernance.Core.Models
@model List<SummaryItem>
@{
    ViewData["Title"] = "Home Page";

    TimeSpan ts = new();
    string lastUpdated = "[unknown]";
    string user = "[unknown]";
    if (Model.Count > 0)
    {
        DateTime minDate = DateTime.Now;
        DateTime maxDate = DateTime.Now;
        @foreach (SummaryItem item in Model)
        {
            if (minDate > item.LastUpdated)
            {
                minDate = item.LastUpdated;
            }
            if (maxDate < item.LastUpdated)
            {
                maxDate = item.LastUpdated;
            }
        }
        ts = maxDate - minDate;
        lastUpdated = minDate.ToString("dd-MMM-yyyy h:mm:sstt");
        user = Model[0].User;
    }
}

<style>
    .listItem {
        list-style-type: none;
        border-width: 1px;
        border-color: #d0d7de;
        /*border-radius: 2em;*/
        border-style: solid;
    }

    .projectHeader {
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 600;
    }

    .publicPrivateLabel {
        border-width: 1px;
        border-color: #d0d7de;
        border-radius: 2em;
        border-style: solid;
        font-size: 12px;
        font-weight: 500;
    }
</style>

<div>
    <h4>For user <code>@user</code> (last updated in @ts.TotalMinutes.ToString("0") minutes, starting at @lastUpdated)</h4>
    <b>Legend</b>: <i class="bi bi-heart-fill greenHeart" data-toggle="tooltip" data-placement="bottom" title="No recommendations"></i>=Repo is OK - no recommendations
    <i class="bi bi-heart-pulse redHeart" data-toggle="tooltip" data-placement="bottom" title="Recommendations for improvement"></i>=Recommendations for improvement
    <br /><br />
    <div>
        <ul>
            @foreach (SummaryItem item in Model)
            {
                string visibility = item.RepoSettings.visibility switch
                {
                    null => throw new ArgumentNullException(nameof(item.RepoSettings.visibility)),
                    "" => throw new ArgumentException($"{nameof(item.RepoSettings.visibility)} cannot be empty", nameof(item.RepoSettings.visibility)),
                    _ => string.Concat(item.RepoSettings.visibility[0].ToString().ToUpper(), item.RepoSettings.visibility.AsSpan(1))
                };

                <li class="listItem">
                    <div style="display: flex; margin-top: 20px; margin-bottom: 20px;">
                        <br>
                        <div style="flex: 1; margin-left: 20px; margin-right: 20px;">
                            <a href="https://github.com/samsmithnz/@item.Repo" class="projectHeader">@item.Repo</a> <span class="publicPrivateLabel">&nbsp;@visibility&nbsp;</span><br>
                            <br>
                            <br>
                            <div>
                                @if (item.TotalRecommendationCount > 0)
                                {
                                    @if (item.RepoSettingsRecommendations.Count == 0 &&
                                        item.BranchPolicies != null && item.BranchPoliciesRecommendations.Count == 0 &&
                                        item.Actions.Count > 0 && item.ActionRecommendations.Count == 0 &&
                                        item.Dependabot.Count > 0 && item.DependabotRecommendations.Count == 0 &&
                                        item.GitVersion.Count > 0 && item.GitVersionRecommendations.Count == 0)
                                    {
                                        <i class="bi bi-heart-fill greenHeart" data-toggle="tooltip" data-placement="bottom" title="OK"></i> <span>0</span>
                                    }
                                    else
                                    {
                                        string recommendation = "Incomplete" + Environment.NewLine + Environment.NewLine;
                                        foreach (string itemRec in item.RepoSettingsRecommendations)
                                        {
                                            recommendation += " - " + itemRec + Environment.NewLine + Environment.NewLine;
                                        }
                                        foreach (string itemRec in item.BranchPoliciesRecommendations)
                                        {
                                            recommendation += " - " + itemRec + Environment.NewLine + Environment.NewLine;
                                        }
                                        foreach (string itemRec in item.ActionRecommendations)
                                        {
                                            recommendation += " - " + itemRec + Environment.NewLine + Environment.NewLine;
                                        }
                                        foreach (string itemRec in item.DependabotRecommendations)
                                        {
                                            recommendation += " - " + itemRec + Environment.NewLine + Environment.NewLine;
                                        }
                                        foreach (string itemRec in item.GitVersionRecommendations)
                                        {
                                            recommendation += " - " + itemRec + Environment.NewLine + Environment.NewLine;
                                        }
                                        <i class="bi bi-heart-pulse redHeart" data-toggle="tooltip" data-placement="bottom" title="@recommendation"></i> <span>@item.TotalRecommendationCount</span>
                                    }
                                }
                                &nbsp;&nbsp;
                                <span class="iconify" data-icon="octicon:git-pull-request-16"></span> <a href="https://github.com/@item.Owner/@item.Repo/pulls" target="_blank" title="View all PRs">@item.PullRequests.Count</a>
                            </div>
                        </div>
                        <div style="margin-right: 20px; min-width: 100px">
                            @if (item.DotNetFrameworks.Count == 0)
                            {
                                <span class="badge bg-secondary">None found</span>
                            }
                            else
                            {
                                foreach (Framework framework in item.DotNetFrameworks)
                                {
                                    <span class="badge @framework.Color">@framework.Name</span>

                                    <br />
                                }
                            }
                        </div>
                        <div style="margin-right: 20px; min-width: 170px;">
                            @if (item.DORASummary != null)
                            {
                                <img src="@item.DORASummary.DeploymentFrequencyBadgeURL" />

                                <br />
                                <img src="@item.DORASummary.LeadTimeForChangesBadgeURL" />

                                <br />
                                <img src="@item.DORASummary.MeanTimeToRestoreBadgeURL" />

                                <br />
                                <img src="@item.DORASummary.ChangeFailureRateBadgeURL" />
                            }
                        </div>
                        <br>
                    </div>
                </li>
            }
        </ul>
    </div>

    <div>
        <div class="row">
            <div class="col-md-3">
                <span><b>Repository</b></span>
            </div>
            <div class="col-md-2">
                <span><b>Recommendations</b></span>
            </div>
            <div class="col-md-1">
                <span><b>Current Pull Requests</b></span>
            </div>
            <div class="col-md-2">
                <span><b>Frameworks detected</b></span>
            </div>
            @*            <div class="col-md-2">
            <span><b>Recommendations to resolve</b></span>
            </div>*@
            <div class="col-md-2">
                <span><b>DORA DevOps Metrics (last 90 days)</b></span>
            </div>
        </div>
        @foreach (SummaryItem item in Model)
        {
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-3">
                    <div>
                        <a href="https://github.com/samsmithnz/@item.Repo">@item.Repo</a>
                        <i class="bi bi-clock" data-toggle="tooltip" data-placement="bottom" title="Last updated @item.LastUpdated.ToString("dd-MMM-yyyy h:mm:sstt")"></i>
                        @if (item.RepoSettings.visibility == "private")
                        {
                            <i class="bi bi-file-lock-fill" style="color: black; height: 32px; width: 32px;" data-toggle="tooltip" data-placement="bottom" title="Private repo"></i>
                        }
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        @if (item.TotalRecommendationCount > 0)
                        {
                            <span>@item.TotalRecommendationCount x</span>
                            @if (item.RepoSettingsRecommendations.Count == 0 &&
                           item.BranchPolicies != null && item.BranchPoliciesRecommendations.Count == 0 &&
                           item.Actions.Count > 0 && item.ActionRecommendations.Count == 0 &&
                           item.Dependabot.Count > 0 && item.DependabotRecommendations.Count == 0 &&
                           item.GitVersion.Count > 0 && item.GitVersionRecommendations.Count == 0)
                            {
                                <i class="bi bi-heart-fill greenHeart" data-toggle="tooltip" data-placement="bottom" title="OK"></i>
                            }
                            else
                            {
                                string recommendation = "Incomplete" + Environment.NewLine + Environment.NewLine;
                                foreach (string itemRec in item.RepoSettingsRecommendations)
                                {
                                    recommendation += " - " + itemRec + Environment.NewLine + Environment.NewLine;
                                }
                                foreach (string itemRec in item.BranchPoliciesRecommendations)
                                {
                                    recommendation += " - " + itemRec + Environment.NewLine + Environment.NewLine;
                                }
                                foreach (string itemRec in item.ActionRecommendations)
                                {
                                    recommendation += " - " + itemRec + Environment.NewLine + Environment.NewLine;
                                }
                                foreach (string itemRec in item.DependabotRecommendations)
                                {
                                    recommendation += " - " + itemRec + Environment.NewLine + Environment.NewLine;
                                }
                                foreach (string itemRec in item.GitVersionRecommendations)
                                {
                                    recommendation += " - " + itemRec + Environment.NewLine + Environment.NewLine;
                                }
                                <i class="bi bi-heart-pulse redHeart" data-toggle="tooltip" data-placement="bottom" title="@recommendation"></i>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-1">
                    <div>
                        @if (item.PullRequests.Count == 0)
                        {
                            <i class="bi bi-dash" data-toggle="tooltip" data-placement="bottom" title=""></i>
                        }
                        else
                        {
                            string approvedUserPRs = "";
                            string unreviewedUserPRs = "";
                            string approvedDependabotPRs = "";
                            string unreviewedDependabotPRs = "";
                            int approvedUserPRCount = 0;
                            int unreviewedUserPRCount = 0;
                            int approvedDependabotPRCount = 0;
                            int unreviewedDependabotPRCount = 0;
                            foreach (PullRequest pr in item.PullRequests)
                            {
                                if (pr.IsDependabotPR == true)
                                {
                                    if (pr.Approved == true)
                                    {
                                        approvedDependabotPRCount++;
                                        approvedDependabotPRs += Environment.NewLine + Environment.NewLine + " - " + pr.Title;
                                    }
                                    else
                                    {
                                        unreviewedDependabotPRCount++;
                                        unreviewedDependabotPRs += Environment.NewLine + Environment.NewLine + " - " + pr.Title;
                                    }
                                }
                                else
                                {
                                    if (pr.Approved == true)
                                    {
                                        approvedUserPRCount++;
                                        approvedUserPRs += Environment.NewLine + Environment.NewLine + " - " + pr.Title;
                                    }
                                    else
                                    {
                                        unreviewedUserPRCount++;
                                        unreviewedUserPRs += Environment.NewLine + Environment.NewLine + " - " + pr.Title;
                                    }
                                }
                            }
                            if (approvedDependabotPRCount > 0)
                            {
                                @approvedDependabotPRCount <span>x</span>
                                <i class="bi bi-shield-check greenHeart" data-toggle="tooltip" data-placement="bottom" title="Approved Dependabot PRs @approvedDependabotPRs"></i>
                                <br />
                            }
                            if (unreviewedDependabotPRCount > 0)
                            {
                                @unreviewedDependabotPRCount <span>x</span>
                                <i class="bi bi-shield-minus redHeart" data-toggle="tooltip" data-placement="bottom" title="Unreviewed Dependabot PRs @unreviewedDependabotPRs"></i>
                                <br />
                            }
                            if (approvedUserPRCount > 0)
                            {
                                @approvedUserPRCount <span>x</span>
                                <i class="bi bi-person-check greenHeart" data-toggle="tooltip" data-placement="bottom" title="Approved user PRs @approvedUserPRs"></i>
                                <br />
                            }
                            if (unreviewedUserPRCount > 0)
                            {
                                @unreviewedUserPRCount <span>x</span>
                                <i class="bi bi-person-dash redHeart" data-toggle="tooltip" data-placement="bottom" title="Unreviewed user PRs @unreviewedUserPRs"></i>
                                <br />
                            }
                            <a href="https://github.com/@item.Owner/@item.Repo/pulls" target="_blank" title="View all PRs">@item.PullRequests.Count PRs</a>
                        }
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        @if (item.DotNetFrameworks.Count == 0)
                        {
                            <span class="badge bg-secondary">None found</span>
                        }
                        else
                        {
                            foreach (Framework framework in item.DotNetFrameworks)
                            {
                                <span class="badge @framework.Color">@framework.Name</span>
                            }
                        }
                    </div>
                </div>
                @*                <div class="col-md-2">
            <div>
            @if (item.TotalRecommendationCount > 0)
            {
            <span>@item.TotalRecommendationCount x</span>
            <a asp-action="Update" asp-route-id="@item.OwnerRepo"><i class="bi bi-robot" data-toggle="tooltip" data-placement="bottom" title="@item.TotalRecommendationCount Updates"></i></a>
            }
            </div>
            </div>*@
                <div class="col-md-2">
                    <div>
                        @if (item.DORASummary != null)
                        {
                            <img src="@item.DORASummary.DeploymentFrequencyBadgeURL" />
                            <img src="@item.DORASummary.LeadTimeForChangesBadgeURL" />
                            <img src="@item.DORASummary.MeanTimeToRestoreBadgeURL" />
                            <img src="@item.DORASummary.ChangeFailureRateBadgeURL" />
                            @*<img src="@item.DORASummary.DeploymentFrequencyBadgeWithMetricURL" />
                    <img src="@item.DORASummary.LeadTimeForChangesWithMetricURL" />
                    <img src="@item.DORASummary.MeanTimeToRestoreBadgeWithMetricURL" />
                    <img src="@item.DORASummary.ChangeFailureRateBadgeWithMetricURL" />*@
                        }
                    </div>
                </div>
            </div>
        }
    </div>

</div>
